.ground_style {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1;
}

.ground_style img {
  max-width: 100%;
  position: absolute;
  height: auto;
  /* animation: rain 35s ease-in-out infinite; */
}


/* @keyframes rain {
  0% {
    transform: translateY(-350px);
  }

  100% {
    transform: translateY(100vh);
  }
} */

.ground_style img:nth-child(1) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(2) {
  top: 40px;
  left: 40px
}

.ground_style img:nth-child(3) {
  top: 80px;
  left: 90px
}

.ground_style img:nth-child(4) {
  top: 150px;
  left: 90px
}

.ground_style img:nth-child(5) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(6) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(7) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(8) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(9) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(10) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(11) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(12) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(13) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(14) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(15) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(16) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(17) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(18) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(19) {
  top: 20px;
  left: 30px
}

.ground_style img:nth-child(20) {
  top: 20px;
  left: 30px
}